rst
/bench
*.o
*.d
*.a
.build-config
t/00util/bench/benchmark_set
t/00util/bench/benchmark_facts_add
t/00util/bench/benchmark_facts_with
t/00util/bench/benchmark_set_add
t/00util/bench/benchmark_set_add_overflow
t/00util/bench/benchmark_set_get
t/00util/bench/benchmark_set_insert
t/00util/bench/benchmark_set_insert_overflow
t/00util/bench/benchmark_set_remove
t/00util/bench/benchmark_reactive_retraction
t/00util/bench/fixtures/
libdatalog.la
.core
.gcda
.gcno
.gcov
t/00util/test/check_fact
t/00util/test/check_facts
t/00util/test/check_set
t/00util/test/check_skiplist
t/00util/test/check_spec
t/00util/test/check_eval
t/00util/test/check_intern
t/00util/test/check_magic
t/00util/test/check_movie_integration
t/00util/test/check_rule
t/00util/test/check_sparql
t/00util/test/check_triejoin
t/00util/test/check_linda
sparql_repl
examples/linda_demo
examples/rete_demo
gmon.out
profile.txt
